/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Navigation bar styles */
header {
    background-color: white;
    padding: 10px 0;
    text-align: center;
}

.logo img {
    max-width: 100px; /* Adjust the logo size as needed */
    vertical-align: middle;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.menu li {
    display: inline;
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: #d46c1c;
    font-size: 16px;
}

.menu a:hover {
    border-bottom: 1px solid red;
    color: red;
}

/* Footer button styles */
footer {
    text-align: center;
    margin-top: 20px;
}

.buttons {
    display: flex;
    flex-direction: column; /* Display buttons in a column */
    align-items: center; /* Center align the button rows */
    margin-bottom: 20px;
}

.buttons a {
    text-decoration: none;
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 15px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #d46c1c;
    color: white;
    display: inline-block;
    width: 80%; /* Set a relative width for responsiveness */
    max-width: 300px; /* Limit maximum width */
    box-sizing: border-box; /* Include padding in the width */
}

.button-row {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line */
    justify-content: center; /* Center align buttons in each row */
}

.button-row a {
    margin: 10px;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .menu li {
        margin: 0 5px; /* Reduce margin for smaller screens */
    }

    .menu a {
        font-size: 14px; /* Decrease font size for smaller screens */
    }

    .buttons a {
        width: 90%; /* Adjust button width for smaller screens */
    }
}
